body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
    color: #333;
}

header {
    text-align: center;
    padding: 2rem;
    background-color: #294172;
    color: white;
}

#fedora-icon {
    display: block;
    margin: 0 auto 1rem;
}

nav {
    background-color: #eee;
    padding: 1rem;
    text-align: center;
}

.menu {
    list-style: none;
    padding: 0;
    margin: 0;
}

.menu-list {
    display: inline-block;
    margin: 0 1rem;
}

.menu-text {
    text-decoration: none;
    color: #294172;
    font-weight: bold;
}

.enviroments-container {
    display: flex;
    justify-content: flex-start;
}

.enviroments-child {
    width: 100px;
    height: 100px;
    border-radius: 16px;
    position: relative;
}

#enviroments-kde-plasma-icon {
    width: 80px;
    position: absolute;
    left: 15px;
}

#enviroments-gnome-icon {
    width: 80px;
    position: absolute;
    left: 15px;
}

main {
    padding: 2rem;
    max-width: 800px;
    margin: auto;
    background-color: white;
}

footer {
    text-align: center;
    padding: 1rem;
    background-color: #294172;
    color: white;
}
